@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');
.jumbotron {
    background-image: url("../../../assets/img/fondo4.gif");
    background-size: cover;
}

p {
    color: white;
    font-size: 200%;
    -webkit-text-stroke: .5px black;
}