<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-4">WikiFood</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, ad corrupti rem porro deleniti quod nulla sed doloribus similique. Doloremque iusto commodi similique aut necessitatibus. Quo a ex reiciendis accusantium!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eaque ex quibusdam quae, fuga soluta libero perspiciatis. Debitis unde, architecto quos quas necessitatibus suscipit quidem similique tenetur, amet laboriosam in.</p>
    </div>

</div>