<h1 class="animated fadeIn fast">Restaurants <small>Información importante de tus sitios de comida favoritos</small></h1>
<hr>


<div class="card-columns animated fadeIn fast ">

    <div *ngFor="let restaurant of dataRestaurants " class="card animated fadeIn slow">
        <img src="assets/img/foto.jpeg " class="card-img-top " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">

                {{restaurant.name}}
            </h5>
            <button type="button " class="btn btn-primary btn-dark ">
                    Rating <span class="badge badge-light ">
                            ⭐ {{restaurant.rating}}
                    </span>

                  </button>
            <p class="card-text ">
                📍 Estado: {{restaurant.address.state}} <br>Ciudad: {{restaurant.address.city}}<br> Calle: {{restaurant.address.street}}
            </p>



            <p class="card-textb ">

                <span class="badge badge-info">📧 Email: <br>{{restaurant.contact.email}}</span><br>
                <span class="badge badge-dark">☎ Telefono:<br> {{restaurant.contact.phone}}</span><br>
                <span class="badge badge-primary">💻 Sitio: <br> {{restaurant.contact.site}}</span><br>
            </p>



        </div>
    </div>



</div>