<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['restaurants']">Restaurants</a>
            </li>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">Locations</a>
            </li>
        </ul>
        <span class="navbar-text">
      WikiFood
    </span>
        <a class="navbar-brand" [routerLink]="['home']">
            <img src="../../../../assets/img/selloBlanco.png" width="210" height="110" alt="">
        </a>
    </div>
</nav>